.erat {
    width: 100%;
    height: 580px;
    background: black;
}

.logo1 {
    width: 50%;
    height: 596px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.logo1:hover {
    transform: translatex(15px);
}

.logo1 img {
    width: 50%;
    height: 40%;
}

.erat1 {
    width: 50%;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.erat1 p {
    color: white;
    font-size: 30px;
}

.tempor {
    width: 350px;
}

.pic {
    width: 200px;
    height: 3px;
    background: url(../content/line.png);
    background-position: center;
    background-size: contain;
}

.erat1 .second {
    height: 100px;
    width: 500px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    gap: 20px;
    height: 60px;
}

.orange {
    width: 53px;
    height: 53px;
    background: $orange;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye {
    width: 35px;
    height: 35px;
    background: url(../content/eye.svg);
    border-radius: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.top {
    width: 100px;
}

.title1 .top {
    font-size: 20px;
}

.title .bottomtext {
    width: 400px;
    font-size: 14px;
}

.comment {
    width: 35px;
    height: 35px;
    background: url(../content/comment.svg);
    border-radius: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


@media (max-width: 768px){
    .erat {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }


.logo1 {
    height: 100px;
    
}

    .erat1 {
        width: 100%;
        height: 300px;
        padding: 10px;
    
    }
} 
