main {
    width: 100%;
    height: 650px;
    background: url(../content/img1.png);
    margin: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #070707c6;
    opacity: 0.8;
}

.container {
    width: 70%;
    height: 450px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

.container img {
    background: url(../content/img.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    transition: 1s;
}

.container img:hover {
    transform: translateY(10px);
}

main .container {
    z-index: 1;
}

.container .text {
    font-size: 1.9em;
    width: 350px;
}

.container2 {
    width: 35%;
    max-width: 350px;
    height: 450px;
    background: white;
    border-radius: 5px;
}

.freeOrange {
    color: $orange;
    transition: 1s;
}

.freeOrange:hover {
    transform: translateY(10px);
}

.lentele {
    width: 350px;
    height: 400px;
}

main .container2 {
    z-index: 1;
}

section {
    width: 78%;
    height: 600px;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    width: 270px;
    text-align: left;
}

h6 {
    color: white;
}

h5 {
    color: white;
    width: 550px;
}

button {
    width: 130px;
    height: 35px;
    background: none;
    color: white;
    border: 2px solid white;
    transition: 2s;
}

button:hover {
    cursor: pointer;
    background: $orange;
    color: white;
    transform: scaleY(1.5);
}


form {
    display: flex;
    justify-content: center;
    padding: 15px;
    justify-content: space-around;
    background: rgba(91, 49, 49, 0.154);
    color: black;
    width: 100%;
    font-size: 1.5em;
}

.select {
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

h3 {
    padding: 20px;
    text-align: center;
    color: #333333;
}

input {
    background: none;
    max-width: 340px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: rgba(128, 128, 128, 0.119);
    padding: 15px;
    display: flex;
    text-align: left;
    align-items: center;
    width: 270px;
}


.greta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 285px;
}

.ignas {
    height: 57px;
    width: 100%;
    background: $green;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
}

.ignas:hover {
    background: $orange;
}

.ignas h3:hover {
   color: black;
}

.ignas h3 {
    color: white;
}

@media (max-width: 768px) {

    main {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
    }

    section {
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .container, h5 {
        width: 100%;
        height: 400px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container2 {
        width: 100%;
        min-width: 300px;
    }
}